/* RTL styles for materialize */
@font-face {
    font-family: Vazir;
	src: url('font/Vazir.eot');
	src: url('font/Vazir.eot?#iefix') format('embedded-opentype'),
		url('font/Vazir.woff') format('woff'),
		url('font/Vazir.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: Vazir;
	src: url('font/Vazir-Bold.eot');
	src: url('font/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
		url('font/Vazir-Bold.woff') format('woff'),
		url('font/Vazir-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: Vazir;
	src: url('font/Vazir-Light.eot');
	src: url('font/Vazir-Light.eot?#iefix') format('embedded-opentype'),
		url('font/Vazir-Light.woff') format('woff'),
		url('font/Vazir-Light.ttf') format('truetype');
	font-weight: 300;
}

body {
	font-family: Vazir;
	direction: rtl;
}

nav ul li {
	float: right;
}

nav .brand-logo {
	float: right;
    position: relative;
}
