{{ define "base/header" }}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css" media="screen, projection"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/font-awesome.min.css" media="screen, projection"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/material-icons.css" media="screen, projection"/>
    {{ if .rtl }}
    <link type="text/css" rel="stylesheet" href="/assets/rtl/rtl.css" media="screen, projection"/>
    {{ end }}
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" media="screen, projection"/>

    <title>{{ .title }}</title>

</head>

<body>
    {{ template "base/navbar.tmpl" . }}
{{ end }}
