{{ define "base/navbar.tmpl" }}
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper container">
                <a href="#!" class="brand-logo">{{ .AppName }}</a>
                <ul class="{{ if .rtl }}right{{ else }}left {{ end }} hide-on-med-and-down">
                    {{/*
                    {{ range $title, $url := .MainMenu }}
                    <li>
                        <a href="{{ $url }}">{{ $title }}</a>
                    </li>
                    {{ end }}
                    */}}
                    {{ range .MainMenu }}
                    <li>
                        <a href="{{ .url }}">{{ .title }}</a>
                    </li>
                    {{ end }}
                </ul>

                <div class="{{ if .rtl }}left{{ else }}right{{ end }} language-switch">
                    <ul>
                        <li><a href="/language/fa"><span>Fa</span></a></li>
                        <li><a href="/language/en"><span>En</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{{ end }}
