{{ define "pages/about-fa.tmpl" }}
    {{ template "base/header" . }}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>درباره</h1>
            </div>
        </div>
    </div>

    {{ template "base/footer" . }}
{{ end }}
